.container{
  max-width: 400px;
  margin: 0 auto;
  padding: 0px 10px;
  box-sizing: content-box;
}

.game__title{
  position: relative;
  padding-bottom: 10px;
  text-align: center;
}

.game__title::after{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  width: 100%;
  border-bottom: 2px solid #000;
}

.game__board{
  max-width: 400px;
  margin: 0 auto;
}

.game__row{
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.game__cell{
  width: 64px;
  height: 72px;
  border: 1px solid #a1a1a1;
  margin-right: 5px;

  font-size: 36px;
  font-weight: 600;
  text-align: center;
  line-height: 60px;
}

.result{
  margin-top: 20px;
  font-size: 22px;
  display: flex;
  justify-content: center;
}

.message{
  margin-right: 50px;
  margin-top: 7px;
  font-size: 26px;
}

.reset{
  display: none;
  text-decoration: none;
  border: 1px solid #D54139;
  padding: 10px;
}

.reset:hover{
  background-color: #FF4B39;
  color: #fff;
}